@model PJCAdmin.Models.Note

@{
    ViewBag.Title = "Job Note Details";
}

<h2>Viewing Job Note: @ViewData["note"] - Made By: @ViewData["user"]<small style="color:#808080">@Html.DisplayFor(model => model.noteTitle)</small></h2>

<p>@Html.ActionLink("View Different Note", "List", new { user = ViewData["user"] }) | Delete Note</p>

<table>
    <tr>
        <th>Overview</th>
    </tr>
    <tr>
        <td>Job:</td>
        <td>ROUTINENAME</td>
    </tr>
    <tr>
        <td>Time Created:</td>
        <td>00:00:00 12/12/1212</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>NOTECONTENT</td>
    </tr>
</table>

@Html.ActionLink("Delete", "Delete", new { user = ViewData["user"], note = ViewData["note"] })
