
@{
    ViewBag.Title = "Notes";
}
<h2>Viewing Notes for @ViewData["user"]</h2>

<p>@Html.ActionLink("View Notes for Different User", "ListUsers")</p>

<table>
    <tr>
        <th>User Notes</th>
    </tr>
    @foreach (PJCAdmin.Models.Note note in ViewData["UserNotes"] as IEnumerable<PJCAdmin.Models.Note>)
    {
        <tr>
            <td>
                @note.noteTitle
            </td>
            <td>
                @*Do I need to change this line of code to pass the notes properly? Cuz the details page is getting a null note instead of the needed note.*@
                @Html.ActionLink("Details", "UserNoteDetails", new { user = ViewData["user"], noteID = note.noteID })
            </td>
            
        </tr>
        
    }
    <tr><td><br /></td></tr>
    <tr>
        <th>Job Notes</th>
    </tr>
   @foreach (PJCAdmin.Models.Note note in ViewData["JobNotes"] as IEnumerable<PJCAdmin.Models.Note>)
   {
    <tr>
        <td>
            @note.noteTitle
        </td>
        <td>
            @note.Jobs.First().Routine.routineTitle
        </td>
        <td>
            @Html.ActionLink("Details", "JobNoteDetails", new { user = ViewData["user"], noteID = note.noteID })
        </td>
    </tr>
   }
    <tr><td><br /></td></tr>
    <tr>
        <th>Step Notes</th>
    </tr>
    @foreach (PJCAdmin.Models.Note note in ViewData["StepNotes"] as IEnumerable<PJCAdmin.Models.Note>)
    {
        <tr>
            <td>
                @note.noteTitle
            </td>
            <td>
                @note.Steps.First().Job.Routine.Tasks.Where(t => t.sequenceNo == note.Steps.First().sequenceNo).First().taskName
            </td>
            <td>
                Step name
            </td>
            <td>
                @Html.ActionLink("Details", "StepNoteDetails", new {user = ViewData["user"], noteID = note.noteID })
            </td>
        </tr>
    }
</table>