@model PJCAdmin.Models.Note

@{
    ViewBag.Title = "User Note Details";
}

<h2>Viewing User Note: @ViewData["note"] - Made By: @ViewData["user"]<small style="color:#808080">@Html.DisplayFor(model => model.noteTitle)</small></h2>

<p>@Html.ActionLink("View Different Note", "List", new { user = ViewData["user"] }) | Delete Note</p>

<table>
    <tr>
        <th>Overview</th>
    </tr>
    <tr>
        <td>Time Created:</td>
        <td>TIMECREATED</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>NOTECONTENT</td>
    </tr>
</table>

@Html.ActionLink("Delete", "Delete", new { user = ViewData["user"], note = ViewData["note"] })
