@model PJCAdmin.Models.Routine

@{
    ViewBag.Title = "Routine Details";
    //ProfileCommon userProfile = (ProfileCommon)ProfileCommon.Create(Model.UserName, true);
}

@if (Roles.IsUserInRole("Administrator") && !(ViewData["mockUser"] as string).Equals(""))
{
    <h1>
        Viewing as: @(ViewData["mockUser"] as string)
    </h1>
    <p>@Html.ActionLink("View as Different User", "List")</p>

    <hr />
}

<h2>Routine Details for <small style="color:#808080">@Html.DisplayFor(model => model.routineTitle)</small></h2>

<p>
    <a href="javascript:history.back()">View Different Routine</a> |
    @if (Roles.IsUserInRole("Job Coach") || Roles.IsUserInRole("Parent"))
    {
        @Html.ActionLink("Edit Routine", "Edit", new { routineName = Model.routineTitle, assigneeName = Model.assigneeUserName })
        <span>|</span>
        @Html.ActionLink("Delete Routine", "Delete", new { routineName = Model.routineTitle, assigneeName = Model.assigneeUserName })
    }
    else //mockUser is set
    {
        @Html.ActionLink("Edit Routine", "Edit", new { routineName = Model.routineTitle, assigneeName = Model.assigneeUserName, mockUser = ViewData["mockUser"] as string })
        <span>|</span>
        @Html.ActionLink("Delete Routine", "Delete", new { routineName = Model.routineTitle, assigneeName = Model.assigneeUserName, mockUser = ViewData["mockUser"] as string })
    }
</p>

<h3 style="margin-top:20px;">Overview</h3>

<table>
    <tr>
        <td>Assigned to:</td>
        <td>@Html.DisplayFor(model => model.assigneeUserName)</td>
    </tr>
    <tr>
        <td>User Access:</td>
        <td>
            @if (Model.isDisabled) { @("Disabled") }
            else { @("Enabled") }
        </td>
    </tr>
    <tr>
        <td>Timed:</td>
        <td>
            @if (Model.isTimed) { @("Yes") }
            else { @("No") }
        </td>
    </tr>
    <tr>
        <td>Expected Duration:</td>
        <td>
            @if(Model.expectedDuration != null) { @(Model.expectedDuration) }
            else { @("None") }
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
            @if (Model.isNotifiable) { @("Will email on job completion") }
            else { @("Won't email on job completion") }
        </td>
    </tr>
</table>

<h3 style="margin-top:20px;">Routine Feedback</h3>

<table>
    <tr>
    @if (Model.Feedbacks.Count == 0)
    {
        <td>No Feedback</td>
    }
    else
    {
        foreach (PJCAdmin.Models.Feedback feedback in Model.Feedbacks)
        {
                @Html.Partial("_ViewFeedback", feedback);
        }
    }
    </tr>
</table>

<h3 style="margin-top:20px;">Tasks List</h3>

<ol id="Tasks" style="padding:0px 15px;">
    @foreach (PJCAdmin.Models.Task task in Model.Tasks)
    {
        @Html.Partial("_ViewTask", task);
    }
</ol>