@model PJCAdmin.Models.JobModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this job?</h3>
<div style="margin-left:50px;">
    <fieldset>
        <legend>job</legend>

        @*<div class="display-label">
                @Html.DisplayNameFor(model => model.jobTitle)
            </div>*@
        <h3>Job Title</h3>
        <div style="margin-left:50px;">
            <div class="display-field">
                @ViewData["routineName"]
            </div>
        </div>
        <h3>Assignee Name</h3>
        <div style="margin-left:50px;">
            <div class="display-field">
                @ViewData["assigneeName"]
            </div>
        </div>
        <h3>Start Date</h3>
        <div style="margin-left:50px;">
            <div class="display-field">
                @ViewData["startDate"]
            </div>
        </div>
    </fieldset>

</div>
<br /><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="routineName" value="@(ViewData["routineName"])" />
    <input type="hidden" name="assigneeName" value="@(ViewData["assigneeName"])" />
    <input type="hidden" name="startDate" value="@(ViewData["startDate"])" />
    if (Roles.IsUserInRole("Administrator"))
    {
        <input type="hidden" name="mockUser" value="@(ViewData["mockUser"])" />
    }
    
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
