@model IEnumerable<PJCAdmin.Models.Routine>

@{
ViewBag.Title = "Job - Routine Selection";
}

@if (Roles.IsUserInRole("Administrator") && !(ViewData["mockUser"] as string).Equals(""))
{
    <h1>
        Viewing as: @(ViewData["mockUser"] as string)
    </h1>
    <p>@Html.ActionLink("View as different user","Index")</p>
}

<table>
    <tr>
        <th>Select a Routine...</th>
    </tr>

    @foreach (PJCAdmin.Models.Routine routine in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => routine.routineTitle) 
            </td>
            <td>
                Assigned to: @Html.DisplayFor(modelItem => routine.assigneeUserName)
            </td>
            <td>
                @if (Roles.IsUserInRole("Administrator"))
                {
                    @Html.ActionLink("Show Versions", "ListRoutineVersions", new { 
                        mockUser = ViewData["mockUser"] as string,
                        routineName = routine.routineTitle,
                        assigneeName = routine.assigneeUserName})
                }
                else
                {
                    @Html.ActionLink("Show Versions", "ListRoutineVersions", new {
                        routineName = routine.routineTitle,
                        assigneeName = routine.assigneeUserName})
                }
            </td>
        </tr>
    }
</table>